.projects-section {
  margin: 50px 50px 110px;
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 7px;
    margin-bottom: 60px;
  }
}
.project {
  display: flex;
  width: 80%;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 40px;
  img {
    max-width: 100%;
    height: auto;
    image-resolution: from-image 300dpi;
  }
  .project-img {
    width: 100%;
    margin: 20px;
  }

  .project-p {
    margin: 20px;
    width: 100%;
    p {
      line-height: 20px;
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
    }
    button {
      margin-right: 20px;
      width: 110px;
      padding: 10px;
      border-radius: 25px;
      outline: none;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 1px;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
    .source-btn {
      background: none;
      color: black;
      border: 1px solid black;
      a {
        color: black;
      }
    }
  }
}
h3 {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 70px auto;
  padding-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(15, 15, 15);
  /*  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      right: 16px;
      top: 0;
      width: 52px;
      height: 3px;
      background: #000;
      display: block;
    } 
  }*/
}
@media (max-width: 1200px) {
  .project {
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .projects-section {
    h3 {
      font-size: 16px;
      width: 300px;
    }
  }
}
@media (max-width: 400px) {
  .projects-section {
    h3 {
      font-size: 14px;
      width: 200px;
    }
  }
}
