.main-section {
  background-image: url(../../assets/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  h1 {
    padding-top: 330px;
    padding-left: 170px;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  p {
    padding: 10px 173px;
    font-size: 23px;
    letter-spacing: 0.5rem;
    /* text-transform: uppercase; */
  }
  button {
    margin-right: 20px;
    margin-top: 20px;
    background: none;
    outline: none;
    width: 220px;
    height: 45px;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    transition: transform 0.5s;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: #222222;
      border: 1px solid whitesmoke;
      transform: scale(1.1);
    }
  }
  .github-btn {
    margin-left: 170px;
  }
}
@media (max-width: 1100px) {
  .main-section h1 {
    padding-left: 50px;
    font-size: 60px;
  }
  .main-section p {
    padding-left: 50px;
    font-size: 25px;
  }
  .github-btn {
    margin-left: 50px !important;
  }
  h1 {
    padding-top: 230px !important;
  }
}
@media (max-width: 600px) {
  .main-section h1 {
    font-size: 40px;
  }
  .main-section p {
    font-size: 20px;
    line-height: 23px;
  }
  .github-btn {
    margin-right: 80px !important;
  }
  .main-section button {
    margin-left: 50px !important;
  }
  h1 {
    padding-top: 190px !important;
  }
}
@media (max-width: 350px) {
  .main-section button {
    margin-right: 0px !important;
  }
}
